<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">

    <title>Text Classifier</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TextClassifier</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact us</a>
            </li>
            <!--            <li class="nav-item dropdown">-->
            <!--                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"-->
            <!--                   href="#" id="navbarDropdown" role="button">-->
            <!--                    Dropdown-->
            <!--                </a>-->
            <!--&lt;!&ndash;                <div aria-labelledby="navbarDropdown" class="dropdown-menu">&ndash;&gt;-->
            <!--&lt;!&ndash;                    <a class="dropdown-item" href="#">Contact</a>&ndash;&gt;-->
            <!--&lt;!&ndash;                    <a class="dropdown-item" href="#">Another action</a>&ndash;&gt;-->
            <!--&lt;!&ndash;                    <div class="dropdown-divider"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;                    <a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;-->
            <!--&lt;!&ndash;                </div>&ndash;&gt;-->
            <!--            </li>-->


            <!--      <li class="nav-item">-->
            <!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            <!--      </li>-->

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Welcome To Text CLassifier.com!</strong>Enter the text and see the magic
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="container">

    <!--    Text Area-->
    <form action='/translate' method='post'> {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlTextarea1"><h4>Enter your text here</h4></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="5"></textarea>
        </div>


        <!--        <li class="nav-item dropdown">-->
        <!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--          Convert Into-->
        <!--        </a>-->
        <!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
        <div
                class="custom-control custom-switch">
            <input class="custom-control-input" id="customSwitch1" name="pos" type="checkbox">
            <label class="custom-control-label" for="customSwitch1"><h4>Tagging PartOfSpeech</h4></label>
        </div>

        <div
                class="custom-control custom-switch">
            <input class="custom-control-input" id="customSwitch2" name="sentiment" type="checkbox">
            <label class="custom-control-label" for="customSwitch2"><h4>Sentiment Analysis</h4></label>
        </div>


        <!--          <a class="dropdown-item" href="#">Hindi</a></div>-->
        <!--          <a class="dropdown-item" href="#">English</a>-->
        <!--          <a class="dropdown-item" href="#">French</a>-->
        <!--          <a class="dropdown-item" href="#">Sanskrit</a>-->
        <!--          <a class="dropdown-item" href="#">Punjabi</a>-->
        <!--          <div class="dropdown-divider"></div>-->
        <!--          <a class="dropdown-item" href="#">Something else here</a>-->
        <!--        </div>-->
        <!--      </li>-->


        <!--       Button For Submit Response-->
        <button class="btn btn-dark mt-2" type="submit"> Analyze text</button>

    </form>
    <!--Form Ends Here-->

</div>
<!--    Container Class Ends Here-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>

